:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, $teal_green 30%, $chat_background 30%);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: $light_green;
  justify-content: center;

  img {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
}

.footer {
  font-size: 1.6rem;

  a {
    color: $teal_green;
    &:visited {
      color: $teal_green;
    }
  }
}
