.chat {
  width: 100%;
  max-width: 100rem;
  height: 100%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  background-color: $white;

  header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: $chat_background;
    height: 6rem;
    padding: 1rem 1.6rem;
    border-bottom: 0.1rem solid $chat_background_dark;
  }
}

.chat__main {
  flex-grow: 1;
  padding: 0 6rem;
  display: flex;
  align-items: end;
  overflow: auto;
  max-height: 67.8vh;
  background-image: url("../assets/chat-background.jpg");
  object-fit: cover;
}

.chat__input-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  height: 6.2rem;
  padding: 0.5rem 1.6rem;
  background-color: $chat_background;
  border: 0.1rem solid $chat_background_dark;
}

.chat__input {
  font-size: 1.6rem;
  resize: none;
  flex-grow: 1;
  margin: 0.5rem 0.8rem;
  padding: 0.9rem 1.2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $chat_background_dark;
}

.messages-list {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.message {
  padding: 0.8rem 1.6rem 1.6rem 0.8rem;
  &:first-child {
    margin-top: 0.5rem;
  }
}

.left {
  text-align: left;
  border-radius: 0 1rem 1rem 2rem;

  max-width: fit-content;
  background-color: $incoming_chat_bubble;
}

.right {
  align-self: flex-end;
  border-radius: 1rem 0rem 2rem 1rem;
  background-color: $outcoming_chat_bubble;
}
