.tel__label {
  font-size: 2rem;
}

.tel__input {
  font-size: 2rem;
  margin-left: 0.6rem;
  @include input();
}

.tel__button {
  @include button();
  color: $teal_green;

  &:hover {
    color: $white;
  }
}
