$teal_green_dark: hsl(173, 86%, 20%);
$teal_green: hsl(173, 77%, 31%);
$light_green: hsl(142, 70%, 49%);
$chat_background: hsl(32, 28%, 90%);
$chat_background_dark: hsl(32, 28%, 70%);
$outcoming_chat_bubble: hsl(94, 78%, 87%);
$time: hsl(202, 12%, 45%);
$incoming_chat_bubble: hsl(33, 26%, 92%);
$white: hsl(0, 0%, 100%);
